# Operating System files
.DS_Store            # macOS

# Node.js
node_modules/        # Node.js dependencies

# Visual Studio Code
.vscode/             # VSCode settings folder

# Logs
*.log                # Log files

# Environment variables
.env                 # Environment configuration files

/dist                # Distribution folder